<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h3>Voici la page du potin n°<%= params['id'] %></h3>
        <p>
    Son Auteur : <%= id.author %><br/>
    Le contenu du potin : <%= id.content %><br/>
    </p>
  </body>
</html>
        
          